<h2> GitHub Search Results </h2><hr>
<%= @github_user.inspect  %>

<% if @github_user.nil?  %>
  <%= "No GitHub user '#{@github_search_term}' was found." %>
<% else %>
  <p>
  askfhashf
<% image_tag(@github_user[:avatar]) %>
  <%= link_to @github_user[:username], @github_user[:userlink] %>


      <% if UserFeed.following?(@current_user.id, @github_search_term) %>
         You're already hunting.
      <% else %>
       <!-- Follow Button -->
       <%= form_tag(create_feed_path, method: "post") do %>
         <%= hidden_field_tag :uid, "#{@github_user["username"]}" %>
         <%= hidden_field_tag :type, "GitHub" %>
         <%= submit_tag("Follow", :class => "btn btn-default") %>
       <% end %>
    </p><br>
  <% end %>
<% end %>
