<h2> Tumblr Search Results </h2>
<% if @tumblr_blog_info["status"] == 404 %>
  <%= "No tumblr '#{@tumblr_search_term}' was found." %>
<% else %>
  <p>
  <%= image_tag(@tumblr_avatar) %>
  <%= link_to @tumblr_blog_info["blog"]["title"], @tumblr_blog_info["blog"]["url"] %>
  <% if UserFeed.following?(@current_user.id, @tumblr_search_term) %>
    You're already hunting.
  <% else %>
    <!-- Follow Button -->
    <%= form_tag(create_feed_path, method: "post") do %>
      <%= hidden_field_tag :uid, "#{@tumblr_blog_info["blog"]["name"]}" %>
      <%= hidden_field_tag :type, "TumblrFeed" %>
      <%= submit_tag("Follow", :class => "btn btn-default") %>
    <% end %>
    </p><br>
  <% end %>
<% end %>
