<h2> Twitter Search Results </h2>
<% if @search.count == 0 %>
  <%= "No search results found." %><br><br>
<% else %>
  <% @search.each do |result| %>
    <p>
      <table>
      <tr>
        <td style='padding-right: 10px'><%= image_tag("#{result.profile_image_url}") %></td>
        <td><b><%= link_to result.screen_name, "https://www.twitter.com/#{result.screen_name}" %></b><br>
          <% if UserFeed.following?(@current_user.id, result.id) %>
            You're already hunting.
          <% else %>
            <!-- Follow Button -->
            <%= form_tag(create_feed_path, method: "post") do %>
              <%= hidden_field_tag :uid, "#{result.id}" %>
              <%= hidden_field_tag :type, "TwitterFeed" %>
              <%= submit_tag("Follow", :class => "btn btn-default btn-xs") %>
            <% end %>
          <% end %>
        </td></tr>
      </table>
    </p><br>
  <% end %>

  <%= form_tag("search", method: "get") do %>
    <%= hidden_field_tag :page, @page_num + 1 %>
    <%= hidden_field_tag :search, params[:search] %>
    <%= submit_tag("See More", :class => "btn btn-default btn-sm") %>
  <% end %>
<% end %>
