<h2>Instagram Search Results</h2>

<% if @instagram.count == 0 %>
  <%= "No users found" %>
<% else %>
  <% @instagram.each do |user| %>
    <ul>
      <li>
      <div>
        <%= image_tag user.profile_picture %>
        <%= user.username %>
        <%= user.id %>
        </li>
      </div>
    </ul>
        <% if UserFeed.following?(@current_user.id, user.id) %>
          You're already hunting.
        <% else %>
      <!-- Follow Button -->
          <%= form_tag(create_feed_path, method: "post") do %>
            <%= hidden_field_tag :uid, "#{user.id}" %>
            <%= hidden_field_tag :type, "InstagramFeed" %>
            <%= submit_tag("Follow", :class => "btn btn-default") %>
          <% end %>
        <% end %>
    </p><br>
  <% end %>

<% end %>
