
<h2> Tumblr Search Results </h2>
<hr>
<% if @tumblr_blog_info["status"] = "404" %>
  <%= "No tumblr '#{@user_name}' was found." %> 
<% else %>
  <%= image_tag(@tumblr_avatar) %>
  <%= link_to @tumblr_blog_info["blog"]["title"], @tumblr_blog_info["blog"]["url"] %>
<% end %>

<hr>
<br>

<h2> Twitter Search Results </h2>
<% @search.each do |user| %>
  <p><%= image_tag("#{user.profile_image_url}") %>
  <%= link_to user.screen_name, "https://www.twitter.com/#{user.screen_name}" %></p>
<% end %>

<%= form_tag("search", method: "get") do %>
  <%= hidden_field_tag :page, @page_num + 1 %>
  <%= hidden_field_tag :search, params[:search] %>
  <%= submit_tag("See More", :class => "btn btn-default") %>
<% end %>

