<h2> Tumblr Search Results </h2>
<hr>
<% if @tumblr_blog_info["status"] = "404" %>
  <%= "No tumblr '#{@user_name}' was found." %> 
<% else %>
  <%= image_tag(@tumblr_avatar) %>
  <%= link_to @tumblr_blog_info["blog"]["title"], @tumblr_blog_info["blog"]["url"] %>
<% end %>

<hr>
<br>

<h2> Twitter Search Results </h2>

<% if @search.count == 0 %>
  <%= "No search results found." %><br><br>
<% else %>
  <% @search.each do |result| %>
    <p>
      <%= image_tag("#{result.profile_image_url}") %>
      <%= link_to result.screen_name, "https://www.twitter.com/#{result.screen_name}" %>

      <% if Feed.exist?(result.id) %>
        <% if UserFeed.following?(@current_user.id, result.id) %>
          You're already hunting.
        <% else %>
          <!-- Follow Button -->
          <%= form_tag(create_feed_path, method: "post") do %>
            <%= hidden_field_tag :uid, "#{result.id}.to_s" %>
            <%= hidden_field_tag :type, "TwitterFeed" %>
            <%= submit_tag("Follow", :class => "btn btn-default") %>
          <% end %>
        <% end %>
      <% else %>
        <!-- Follow Button -->
        <%= form_tag(create_feed_path, method: "post") do %>
          <%= hidden_field_tag :uid, "#{result.id}.to_s" %>
          <%= hidden_field_tag :type, "TwitterFeed" %>
          <%= submit_tag("Follow", :class => "btn btn-default") %>
        <% end %>
      <% end %>

    </p><br>
  <% end %>

  <%= form_tag("search", method: "get") do %>
    <%= hidden_field_tag :page, @page_num + 1 %>
    <%= hidden_field_tag :search, params[:search] %>
    <%= submit_tag("See More", :class => "btn btn-default") %>
  <% end %>
<% end %>

