<% @search.each do |user| %>
  <p>
    <%= image_tag("#{user.profile_image_url}") %>
    <%= link_to user.screen_name, "https://www.twitter.com/#{user.screen_name}" %>

    <% unless @relationship %>
      <!-- Follow Button -->
      <%= form_tag(create_feed_path, method: "post") do %>
        <%= hidden_field_tag :uid, "#{user.id}" %>
        <%= hidden_field_tag :type, "TwitterFeed" %>
        <%= submit_tag("Follow", :class => "btn btn-default") %>
      <% end %>
    <% else %>
      You're already hunting.
    <% end %>

  </p><br>
<% end %>

<%= form_tag("search", method: "get") do %>
  <%= hidden_field_tag :page, @page_num + 1 %>
  <%= hidden_field_tag :search, params[:search] %>
  <%= submit_tag("See More", :class => "btn btn-default") %>
<% end %>