<!DOCTYPE html>
<html>
  <head>
    <title>FeedHunter</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>
  <body>
    <%= link_to(image_tag('raptorheaderblackborder.jpg', :alt => "logo", :title => "Welcome"),"/") %>
    <nav class="navbar navbar-default" role="navigation">

  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <% if @current_user %>
        <li><%= link_to "Feed", root_path %></li>
        <li><%= link_to "Profile", show_user_path(@current_user) %></li>
        <li><%= link_to "Sign Out", sign_out_path %></li>
      <% else %>
        <li class="active"><%= link_to 'Sign Up', signin_path %></li>
        <li><%= link_to 'Sign In', signin_path %></li>
      <% end %>
    </ul>

<!-- SEARCH BAR -->
    <% if @current_user %>
      <%= form_tag search_path(page: 1), :class =>"navbar-form navbar-right", :method => 'get' do %>
        <div class="form-group">
          <input type="text" name="search" class="form-control" placeholder="Search">
        </div>
        <select name="provider">
          <option>Search All</option>
          <option>Twitter</option>
          <option>Tumblr</option>
        </select>
        <button type="submit" class="btn btn-default">Hunt for Prey</button>
      <% end %>
    <% end %>

  </div><!-- /.navbar-collapse -->
</nav>

<div class="container">
  <p class="notice"><%= notice %></p>

  <%= yield %>
</div>
  </body>
</html>
